<ul>
    <li>
        <a>List of projects</a>
    </li>
    <li>
        <a>Add a project</a>
    </li>
    <li>
        <a>List of skills</a>
    </li>
    <li>
        <%= link_to "Add a skill", new_skill_path, class: "" %>
    </li>
    <li>
        <a>List of positions</a>
    </li>
    <li>
        <a>Add a position</a>
    </li>
<ul>