<div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <img width="100" src="https://avatars.githubusercontent.com/u/16840207?v=4" alt="David YAO" class="main-img rounded-circle">
            </div>
            <div class="col-12 text-center mt-3">
                <p class="font-weight-bold">
                    David YAO
                </p>
            </div>
        </div>
        <div class="row links">
            
            <% @links.each do |link| %>
                <div class="col-12 link text-center mb-3">
                <a href=<%= link.path %>>
                    <p class="font-weight-bold">
                        <%= link.text %>
                    </p>
                </a>
            </div>
            <% end %>
            
            
            
        </div>
    </div>