<div class="row justify-content-center">
    <% @skills.each do |skill| %>
        <div class="col-12 col-md-3 border rounded p-3 list-item">
            <div class="item-img d-flex flex-wrap justify-content-between">
                <img class="img-fluid rounded-circle" style="width: 10%;" src="https://cdn.loom.com/avatars/4812981_a5e2e546af88de880e5413c7a108f263_192.jpg" alt="">
                <div class="actions d-flex flex-wrap justify-content-between">
                <%= link_to skill_path(skill), method: :delete, data: {confirm: "Really delete the skill?"} do %>
                    <i class="far fa-trash-alt"></i>
                <% end %>
                <%= link_to edit_skill_path(skill) do %>
                    <i class="far fa-edit"></i>
                <% end %>
                </div>
            </div>
            <div class="infos">
                <p class="font-weight-bold mb-3 mt-3">
                    <%=skill.title%>
                </p>
            </div>
        </div>
    <% end %>
</div>