body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.blue-oschool {
    color: #4D90CC;
}

.bg-oschool {
    background-color: #4D90CC;
}

a, a:hover {
    text-decoration: none;
    cursor: pointer;
}

/* welcome page */
.links {
    width: 50%;
    margin: auto;
}

.link {
    border: 2px solid rgb(61, 59, 60);
    background-color: rgb(61, 59, 60);
    color: rgb(255, 255, 255);
    border-radius: 0px;
    padding: 16px 20px;
}

.link a {
    color: #fff;
}

.link:hover {
    background-color: transparent;
    border-color: rgb(61, 59, 60);
}

.link:hover+.link a {
    color: rgb(61, 59, 60);
}

/*admin home style*/

.sidebar ul {
    list-style-type: none;
}

.sidebar {
    position: sticky;
    width: 64px;
    top: 0px;
    left: 0;
    z-index: 1200;
    overflow: visible;
    min-height: 100vh;
    background: #fff;
}

.tooltip {
    z-index: 1500;
}

.sidebar div {
    padding: 12px;
    margin: 2rem 1px;
    height: 32px;
    width: 32px;
}

.sidebar div a {
    font-size: 12px;
    display: flex;
    color: #000;
    text-decoration: none;
}

/* menu */
.logo-short,
.user-avatar {
    width: 13%;
}

.navbar-desktop {
    width: 70%;
}

.navbar-desktop a {
    text-decoration: none;
}

.user-avatar {
    width: 30px;
}

.first-nav i {
    font-size: 1.5rem;
}

.dropdown-menu {
    position: absolute !important;
    left: auto;
    right: 0;
}

.first-nav,
.main-content .row {
    margin-left: 64px;
    top: 0px;
    left: 0px;
}

.side-menu {
    height: 100%;
    /* 100% Full-height */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Stay on top */
    align-items: baseline;
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.side-menu .navbar-nav {
    margin-top: 4rem;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
    display: none;
}

.nav-link {
    color: #fff;
}

i {
    color: #000;
}

/*contents*/

.main-content .row:first-child {
    margin-top: 8rem;
}

.actions {
    width: 30%;
}

.list-item {
    margin: 5px;
}

.list-item:hover {
    border-color: #4d90cc !important;
    border-width: 2px !important;
}

/* media queries */
@media screen and (max-width: 767px) {
    .first-nav {
        display: none;
    }

    .main-content .row:first-child {
        margin-top: 5rem;
    }

    .main-content .row {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}